<!DOCTYPE html>
<html>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
<head>
</head>
<body>

<div class="container">
  <div class="row">
     <div class="col-xs-12" id="resHead">
         <h3>The Resume Of</h3>
         <h1>Kurmanbek Kaisar</h1>

     </div>
   </div>
  <div class="row">
    <div class="col-xs-12 col-md-6" id="workExp">
      <h1 class="heading">About me</h1>
      <p>
        I am an freelance and full-stack developer based in Astana.Also interested in video editing and sound processing
      </p>
        <p>
       I am very interested in developing products, starting from planning and designing all the way to solving real-life
      </p>
        <p>
        problems with code. When not online, i love hanging out with my friends. Currently, i am in search of inspiration for next big project.
        </p>


      <h1 class="heading">Work Experience</h1>
        <h2 class="title">Halyk Bot</h2>
          <h3 class="subtitle"> System administrator </h3>
            <h4 class="date">From: 01-2022 - To: 05-2022</h4>
              <p>
                Diagnosis and resolution of incidents, analysis of problems, search for bottlenecks;
               </p>
        <p>Development of scripts for automation of daily activities;</p>
              <p>
                  Maintenance of technical documentation for the operation of existing services;
              </p>
    
    </div>
    <div class="col-xs-12 col-md-6" id="skillEdu">
      <h1 class="heading">Skillset</h1>

        <a href="https://ru.wikipedia.org/wiki/Python" class="gradient-button">Python</a>
        <a href="https://ru.wikipedia.org/wiki/HTML" class="gradient-button">Html</a>
        <a href="https://ru.wikipedia.org/wiki/CSS" class="gradient-button">Css</a>
        <a href="https://ru.wikipedia.org/wiki/MySQL" class="gradient-button">Mysql</a>
        <a href="https://ru.wikipedia.org/wiki/C%2B%2B" class="gradient-button">C++</a>
        <a href="https://ru.wikipedia.org/wiki/Java" class="gradient-button">Java</a>

      <h1 class="heading">Education</h1>
        <h2 class="title">Lyceum school №173</h2>
        <p class="abob">From 2010 to 2021</p>
          <h2 class="title">Bachelor Astana IT University</h2>
        <p class="abob">From 2021 to 2024</p>
        
    </div>
    <div class="col-xs-12 col-md-6" id="skillEdu">
      <h1 class="heading">Languages</h1>
        <a href="" class="gradient-button">Kazakh</a>
        <a href="" class="gradient-button">Russian</a>
        <a href="" class="gradient-button">English</a>
    </div>

  <div class="row">
  <div class="contact col-xs-12">
    <img width=150px class="img-responsive"  src="{{url_for('static', filename='pob.png')}}" />
   <h1 class="title">+7(705)-335-05-03</h1>
      <p class="subtitle">
          KZ <br/>
          Nur-Sultan<br />
          Bukhar Zhyrau 34<br />
        <a href="https://www.instagram.com/mazga.fx/" class="gradient-button">Instagram</a>
        <a href="https://payhip.com/Mazgafx" class="gradient-button">PayHip</a>
        <a href="https://github.com/KaisarKurmanbek" class="gradient-button">GitHub</a>
        </div>
</div>
</div>

</body>

</html>

